.thumbnail 
{
    border: 6px solid navy;
    padding: 3px;
}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  } /*Source: w3schools.com */

  #name
  {
      font-size: x-large;
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .navigate
  {
      width: 25%;
  }

  #sourcing
  {
      color: navy;
      font-size: x-small;
  }

  #nav
  {
      margin: 0px;
      align-items: left;
      align-content: left;
      align-self: left;
  }

  body{
      background-color: yellowgreen;
      margin-left: 3px;
      color:navy;
  }
  
  a{
      color:white;
  }

  header{
      background-color: turquoise;
      color:violet;
      height:27px;
      width: 50%;
  }


  th{
    color: white;
  }

  td
  {
      border: 9px solid turquoise;
      color: black;
  }

  input{
      background-color: gray;
  }