body{
    background-color: #FFEC67;
    margin-left: 3px;
    color:#95998A;
}

a{
    color:white;
}

header{
    color: hsl(0, 0%, 100%);
    background-color:#BDCC94;
    width: 100%;
    height: 60px;
    text-align: center;
}

.header {
    color: black;
    background-color:#95998A;
}

td
{
    border: 9px solid turquoise;
    color: black;
}

input{
    background-color: gray;
}

table.table tr:nth-child(even) td {
  background-color: #A9B6CC;
}

table.table tr:nth-child(odd) td {
    background-color: #BDCC94;
  }

.thumbnail 
{
    border: 6px solid navy;
    padding: 3px;
}

.btn-outline-secondary {
    background-color: #FFFFFF;
}

  .navigate
  {
      width: 25%;
  }

  #name
  {
      font-size: x-large;
      color: #A9B6CC;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #sourcing
  {
      color: navy;
      font-size: x-small;
  }