<!doctype html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>Who I Is</title>
  
  <link rel="stylesheet" href="css/basic.css">
  <link rel="stylesheet" href="css/tablesort.css" />
  
  <!http://tristen.ca/tablesort/demo/>
    <script src="js/tablesort.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutMe.html">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="bookList.html">Favorite Books</a>
            </li>
          </ul>
        </div>
      </nav>
 <header><h1><b>My Favorite Books</b></h1></header><br>
 <div id="offerApp" class="container">
    <table id="bookTable" class="table table-bordered">
      <thead>
        <tr data-sort-method="none" class="header">
            <th>Title</th>
            <th>Author</th>
            <th>Year Published</th>
            <th>Publisher</th>
            <th>Page Count</th>
            <th>MSRP</th>
            <th>Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="book in books" v-if="books" class="bg-success">
            <td><i>{{ book.title }}</i></td>
            <td>{{ book.author }}</td>
            <td>{{ book.yearPublished }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.pageCount }}</td>
            <td>{{ prettyDollar(book.msrp) }}</td>
            <td>
              <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="selectBook(book)">Edit</button>
              <button type="button" class="btn btn-outline-secondary btn-sm" 
              v-on:click="postDeleteBook(book)" >Delete</button>
            </td>
        </tr>
       <!-- 
        <tr class="trythis" v-if="books.length">
          <td><i>{{ books[0].title }}</i></td>
          <td>{{ books[0].author }}</td>
          <td>{{ books[0].yearPublished }}</td>
          <td>{{ books[0].publisher }}</td>
          <td>{{ books[0].pageCount }}</td>
          <td>{{ prettyDollar(books[0].msrp) }}</td>
        </tr>
        <tr class="bg-primary">
            <td><i>{{ books[1].title }}</i></td>
            <td>{{ books[1].author }}</td>
            <td>{{ books[1].yearPublished }}</td>
            <td>{{ books[1].publisher }}</td>
            <td>{{ books[1].pageCount }}</td>
            <td>{{ books[1].msrp }}</td>
        </tr>
        <tr class="bg-info">
            <td><i>{{ books[2].title }}</i></td>
            <td>{{ books[2].author }}</td>
            <td>{{ books[2].yearPublished }}</td>
            <td>{{ books[2].publisher }}</td>
            <td>{{ books[2].pageCount }}</td>
            <td>{{ books[2].msrp }}</td>
        </tr>
        <tr class="bg-warning">
          <td><i>{{ books[3].title }}</i></td>
          <td>{{ books[3].author }}</td>
          <td>{{ books[3].yearPublished }}</td>
          <td>{{ books[3].publisher }}</td>
          <td>{{ books[3].pageCount }}</td>
          <td>{{ books[3].msrp }}</td>
        </tr> 
      -->
  </tbody>
</table>

<h3>{{selectedBook === null ? "Add" : "Edit" }}</h3>
<form v-on:submit.prevent="postNewBook">
  <div class="form-row">
     <div class="col-md-6">
       <label for="bookTitle">Book Title</label>
         <input class="form-control" type="text" id="bookTitle" placeholder="Book Title" v-model="bookForm.title">
     </div>
     <div class="col-md-6">
       <label for="author">Author</label>
         <input class="form-control" id="author" v-model="bookForm.author" type="text" placeholder="Author">
     </div>
 </div>
 <div class="form-row">
     <div class="col-md-2">
       <label for="pubYear">Publication Year</label>
         <input class="form-control" id="pubYear" v-model="bookForm.yearPublished" type="year" placeholder="Publication Year">
     </div>
     <div class="col-md-4">
       <label for="publisher">Publisher</label>
         <input class="form-control" id="publisher" v-model="bookForm.publisher" type="text" placeholder="Publication Company">
     </div>
     <div class="col-md-2">
       <label for="pageCount">Page Count</label>
         <input class="form-control" id="pageCount" v-model="bookForm.pageCount" type="integer" placeholder="Page Count">
     </div>
     <div class="col-md-2">
       <label for="salesPrice">Sales Price</label>
         <input class="form-control" id="salesPrice" type="double" placeholder="Sales Price" v-model="bookForm.msrp">
     </div>
 </div> <br>
  <button type="submit" class="btn btn-primary">{{selectedBook === null ? "Add" : "Edit" }}</button>
  <button type="button" class="btn btn-outline-secondary" 
  v-if="selectedBook"
  v-on:click="resetBookForm">Cancel</button>
</form>


</div>
<br>
<script>
    new Tablesort(document.getElementById('bookTable'));
  </script>
<script src="js/index.js"></script>
</body>
</html>